<div align='center'>
    <h1>Welcome to App Distributor</h1>
    <br>
    <br>
    <h3>Tap <i><font color='blue'>Install Profile</font></i> to find list of app that can be intalled for testing purpose</h3>
    <br>
    <%= link_to "Install Profile", @profile_config_path %>
</div>