<div align='left'>
    <ol >
        <h3>Device Info</h3>
        <li><b>UDID: </b><i><%= @udid %></i></li>
        <li><b>Version: </b><i><%= @version %></i></li>
        <li><b>Product: </b><i><%= @product %></i></li>
    </ol>
</div>