<head><title>Enroll Device / Install App</title></head>
<h1>Welcome to iOS App Distributor</h1>
<% if @ios_device %>
<div align='left'>
    <ol >
        <h3>Instructions</h3>
        <li>Tap Start to begin process</li>
        <li>Press "Install" to allow access to device UDID</li>
        <li>If the app can be installed on your device, it will be installed</li>
        <div align='justify'>
            <br>
            <a href="enroll/mobileconfig" align='center'>Start</a>
        </div>
    </ol>
</div>
<%else%>
<h2>Please return to this page with your iOS device</h2>
<%end%>