<h1>Upload Mobile application</h1>
  <%= form_tag({:action => 'upload'}, :multipart => true) do %>
    <p><label for="upload_file">Select File</label>
    <%= file_field_tag 'mobileapp' %></p>
    <%= submit_tag "Upload" %>
  <% end %>